{% load static %}
<!DOCTYPE html>
  <head>
    <link href="/static/css/style.css" rel="stylesheet" type="text/css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  </head>
  <body>
    <header>
      <div class="top">
        <p><a href="{% url 'myapp:index' %}">トップへ戻る</a></p>
      </div>
    </header>
    <p id="text">かつて、遥か彼方の宇宙に、ひとつの美しい星がありました。</p>
    <img id="image" src="/static/images/default_image.jpg"　width="500" height='500'>
    <div class="banner" id="banner"></div>
    <script src="/static/js/script.js"></script>
  </body>
</html>